{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container-header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section>
    <div class="overlay"></div>
    <div class="h-100 h-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100 ">
                <div class="col-12">
                    <div class="card card-registration card-registration-2 toast-header" style="border-radius: 15px;">
                        <div class="card-body p-0">
                            <div class="p-5">
                                <div class="d-flex justify-content-between align-items-center mb-5">
                                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                </div>
                                <hr class="my-4">
                                {% if bag_items %}
                                {% for item in bag_items %}
                                <div class="row mb-4 d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-3 col-xl-3">
                                        {% if item.product.image %}
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                        {% else %}
                                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <small class="text-black"></small>
                                        <h6 class="text-black mb-0">{{ item.product.name }} </h6>
                                    </div>

                                    <div class="col-md-3 col-lg-3 col-xl-3 col-sm-6 d-flex justify-content-center px-0">
                                        <form action="{% url 'adjust_bag' item.item_id %}" method="POST" class="form update-form">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group mt-5">
                                                    <div class="input-group-prepend">
                                                        <button aria-label="decrement quantity" class="decrement-qty btn btn-outline-light btn-sm"
                                                        data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input aria-label="quantity" class="form-control form-control-sm qty_input" type="number"
                                                    name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                    data-item_id="{{ item.item_id }}"
                                                    id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-prepend">
                                                        <button aria-label="increment quantity" class="increment-qty btn btn-outline-light btn-sm"
                                                        data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span">
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="col text-center mt-5">
                                            <a class="update-link text-info"><small>Update </small></a>
                                            <a class="remove-item text-danger" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><small>Remove</small></a>

                                        </div>
                                    </div>
                                    <div
                                        class="col-md-3 col-lg-2 col-xl-2 d-flex justify-content-center align-items-center p-0">
                                        <h6 class="mb-0">€ {{ item.product.price|floatformat:2 }}</h6>
                                    </div>
                                    <div class="col d-flex justify-content-end">
                                        <button class="update-link btn text-primary shadow-none"
                                            aria-label="update-product-button" name="{{ product_id }}">
                                            <i class="bi bi-pencil-square"
                                                style="font-size:1.2rem; -webkit-text-stroke-width: 1px;">
                                            </i>
                                        </button>

                                        <button class="btn mx-2 text-danger shadow-none"
                                            aria-label="delete-product-button" data-bs-toggle="modal"
                                            data-bs-target="#modal_{{product_id}}">
                                            <i class="bi bi-trash"
                                                style="font-size:1.2rem; -webkit-text-stroke-width: 1px;"></i>
                                        </button>

                                    </div>
                                </div>
                                <hr class="my-4">
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row bg-grey">
                            <div class="p-5">
                                <h3 class="fw-bold mb-5 mt-2 pt-1" id="subtotal">Summary</h3>
                                <hr class="my-4">
                                <!-- start -->
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td colspan="5" class="pt-5 text-right">
                                                <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
                                                <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                                <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                                {% if free_delivery_delta > 0 %}
                                                    <p class="mb-1 text-danger">
                                                        You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                                                    </p>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" class="text-right">
                                                <a href="{% url 'products' %}" class="btn btn-outline-dark btn-lg">
                                                    <span class="icon">
                                                        <i class="fas fa-chevron-left"></i>
                                                    </span>
                                                    <span class="text-uppercase">Keep Shopping</span>
                                                </a>
                                                <a href="{% url 'checkout' %}" class="btn btn-outline-light btn-lg">
                                                    <span class="text-uppercase">Secure Checkout</span>
                                                    <span class="icon">
                                                        <i class="fas fa-lock"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row py-4">
            <div class="col-12">
                <p class="lead mb-5">Your Shopping Cart is empty.</p>
                <a href="{% url 'products' %}" aria-label="Back to shop" class="btn btn-outline-black btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% include 'includes/footer.html' %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}