{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    New arrivals are here!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg text-uppercase py-3">Shop Now!</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer-->
    <footer class="text-center footer text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1"
                href="https://www.facebook.com/" role="button"aria-label="Go to the Gamebox facebook page" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
      
                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com/" role="button" aria-label="Go to the Gamebox twitter page" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
        
                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button" aria-label="Go to the Gamebox instagram page" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
        
                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/" role="button" aria-label="Go to the Gamebox linkedin page" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
        
                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Carvu94" role="button" aria-label="Go to the Carvu94 Github page" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </section>
        </div>
      
        <!-- Copyright -->
        <div class="text-center p-3">
            © 2023 Copyright:
            <a class="text-white" href="https://github.com/Carvu94">CarVu94</a>
        </div>
    </footer>
{% endblock %}