{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container h-100 mt-5">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    New arrivals are here!
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-outline-light btn-lg text-uppercase py-3">Shop Now!</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="card-group marg-top">
        <div class="card home-card-bckg">
            <img src="https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="card-img-top card-pic" alt="Game consoles">
          <div class="card-body text-center">
            <h5 class="card-title">Free Delivery!</h5>
            <p class="card-text">On orders over €{{ free_delivery_threshold }}!</p>
            <a href="{% url 'products' %}" class="btn btn-outline-light btn-sm">
                <span class="text-uppercase">Shop Now!</span>
            </a>
          </div>
        </div>
        <div class="card home-card-bckg">
            <img src="https://images.pexels.com/photos/5489395/pexels-photo-5489395.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top card-pic" alt="Girl and laptop">
          <div class="card-body text-center">
            <h5 class="card-title">Join Gamebox Family!</h5>
            <p class="card-text">Create your own wishlist and make the payments easier!</p>
            <a href="{% url 'account_signup' %}" class="btn btn-outline-light btn-sm">
                <span class="text-uppercase">Register Now!</span>
            </a>
          </div>
        </div>
        <div class="card home-card-bckg">
            <img src="https://images.pexels.com/photos/3747156/pexels-photo-3747156.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top card-pic" alt="Guy with laptop">
          <div class="card-body text-center">
            <h5 class="card-title">Want to chat?</h5>
            <p class="card-text">Give us suggestions, or ask us anything!</p>
            <a href="" class="btn btn-outline-light btn-sm">
                <span class="text-uppercase">Contact Us!</span>
            </a>
          </div>
        </div>
      </div>

  {% include 'includes/footer.html' %}
{% endblock %}