{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container-header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>
    </div>
    
    <div class="row shop-bag">
        <div class="col-12 col-lg-6">
            <p class="text-muted">Please fill out the form below to complete your order</p>
        </div>
    </div>

    <!-- Footer-->
    <footer class="text-center transp text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1"
                href="https://www.facebook.com/" role="button"aria-label="Go to the Gamebox facebook page" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
      
                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com/" role="button" aria-label="Go to the Gamebox twitter page" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
        
                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button" aria-label="Go to the Gamebox instagram page" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
        
                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/" role="button" aria-label="Go to the Gamebox linkedin page" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
        
                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Carvu94" role="button" aria-label="Go to the Carvu94 Github page" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </section>
        </div>
      
        <!-- Copyright -->
        <div class="text-center p-3">
            © 2023 Copyright:
            <a class="text-white" href="https://github.com/Carvu94">CarVu94</a>
        </div>
    </footer>
{% endblock %}
