html {
    height: 100%;
}

a:hover{
    text-decoration: none;
}

body {
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    /* height: calc(100vh - 164px); */
    min-height: 100vh;
    color: white;
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

header {
    z-index: 1030;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    min-width: 260px;
}

.text-white {
    color: white !important;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* Bag preview */

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
    border-radius: 5%;
}

.toast-header {
    background: transparent; 
}

/* Custom horizontal rule */

.hr-cst {
    background-color: white;
}

/* Top margin class for products page */

.marg-top {
    margin-top: 150px;
}

/* Products Card background */

.card-bckg {
    background: rgba(0, 0, 0, 0.6) !important;
}

/* Homepage card pictures */

.card-pic {
    border-radius: 16px;
}

/* Cards for home page from css.glass */

.home-card-bckg {
    background: rgba(159, 159, 159, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(159, 159, 159, 0.3);
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Footer/Header transparent (partly from hype4.academy glassmorphism-generator) */

/* .transp {
    background-color: rgba(0, 0, 0, 0.6);
} */

.transp {
    background: rgba( 0, 0, 0, 0.5 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
}

/* Shopping bag */

.shop-bag {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

/* Overlay */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    cursor: pointer;
}

/* Carousel */

.home-car {
    margin-top: 135px;
}

.carousel-item img {
    height: 500px;
    overflow: hidden;
    object-fit: cover;}

/* .btt-link {
    cursor: pointer;
} */


/* .btt-link:hover i {
    color: black;
} */
/* .btt-link:hover {
    color: black !important;
}
.btt-button:hover {
    color: black !important;
} */

/* Allauth form */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
