html {
    height: 100%;
}

a:hover{
    text-decoration: none;
}

body {
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: white;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #33415c;
    color: white;
    min-width: 260px;
}

.btn-blue {
    background: #33415c;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background: #7d8597;
    color: white;
}

.text-white {
    color: white !important;
}

.border-blue {
    border: 1px solid #33415c !important;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* Custom horizontal rule */

.hr-cst {
    background-color: white;
}

/* Top margin class for products page */

.marg-top {
    margin-top: 150px;
}

/* Products Card background */

.card-bckg {
    background: rgba(0, 0, 0, 0.6) !important;
}

/* Footer/Header transparent */

.transp {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Shopping bag */

.shop-bag {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

/* Overlay */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    z-index: -1;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    cursor: pointer;
}

/* Carousel */

.home-car {
    margin-top: 135px;
}

.carousel-item img {
    height: 500px;
    overflow: hidden;
    object-fit: cover;}

/* .btt-link {
    cursor: pointer;
} */


/* .btt-link:hover i {
    color: black;
} */
/* .btt-link:hover {
    color: black !important;
}
.btt-button:hover {
    color: black !important;
} */

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
