<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=asc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=console&direction=asc" class="dropdown-item ">By Console</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Games
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?console=ps4" class="dropdown-item">PS4 Games</a>
                <a href="{% url 'products' %}?console=ps5" class="dropdown-item">PS5 Games</a>
                <a href="{% url 'products' %}?console=xbox one" class="dropdown-item">Xbox One</a>
                <a href="{% url 'products' %}?console=xbox x" class="dropdown-item">Xbox X Series</a>
                <a href="{% url 'products' %}?console=nintendo" class="dropdown-item">Nintendo</a>
                <a href="{% url 'products' %}?console=ps4,ps5,xbox one,xbox x,nintendo" class="dropdown-item">All Platforms</a>
            </div>
        </li>

       

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white" href="{% url 'contact:contact' %}">
                Contact Us
            </a>
        </li>
    </ul>
</div>